<div class="page-header">
  <h1>{{ page.title }}</h1>
</div>

    {% assign author_info = site.data.authors[page.author] %}
    <i class="fa fa-calendar"></i> {{ page.date | date_to_long_string }} <i class="fa fa-user"></i> <a href="{{ author_info.web }}">{{ page.author }}</a>

    {% unless page.tags == empty %}
      <div class="tag_box">
      <i class="fa fa-tags"></i> 
      {% assign tags_list_horizontal = page.tags %}
      {% include JB/tags_list_horizontal %}
      </div>
    {% endunless %}
    <hr>
    {{ content }}
    <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='6778737' style="float: left"></div>

    <div class="pagination" style="float: right">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>


    <hr>
    {% include util/adsense %}
    {% include JB/comments %}
