<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-narrow">
          <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
          <ul class="nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span8">
        {{ content }}
      </div>
      <div class="span4">
        <ul class="nav nav-list well">
          <li class="nav-header">
              Like what we do?
          </li>
          <li><center>
              <a href="http://bit.ly/donate-to-virtuallyhyper" target="_blank"><img src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" /></a>
              <script id='fbxiqa3'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=virtuallyhyper&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbxiqa3');</script>
              <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
              <script type="text/javascript" src="https://blockchain.info//Resources/wallet/pay-now-button.js"></script>
              <div style="font-size:10px;margin:0 auto;width:250px" class="blockchain-btn"
                   data-address="1LbaicuGY3RsusHonGmwhXWaUw2yYnj2k3"
                   data-shared="false">
                  <div class="blockchain stage-begin">
                      <img src="http://i.imgur.com/zTI9f5u.png"/>
                  </div>
                  <div class="blockchain stage-loading" style="text-align:center">
                      <img src="https://blockchain.info//Resources/loading-large.gif"/>
                  </div>
                  <div class="blockchain stage-ready">
                       <p align="center">Our Bitcoin Address: <b><br>[[address]]</b></p>
                       <p align="center" class="qr-code"></p>
                  </div>
                  <div class="blockchain stage-paid">
                       Donation of <b>[[value]] BTC</b> Received. Thank You.
                  </div>
                  <div class="blockchain stage-error">
                      <font color="red">[[error]]</font>
                  </div>
              </div>
          </center></li>
          <li class="nav-header">
              Pages
          </li>
          <li>
              <a href="#">About</a>
          </li>
          <li class="divider">
          </li>
          <li class="nav-header">
             Disclaimer 
          </li>
          <li>
              <p>The contents of this blog reflect the views of the author(s) and do not necessarily reflect the official views or policy of any of the mentioned companies and/or companies. The information provided here is provided as-is. We are not responsible for any loss of data.</p>
          </li>
        </ul>
      </div> <!-- div class="span4" -->
    </div>

    <hr>
    <footer>
      <p>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}
        with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
        and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
      </p>
    </footer>

    {% include JB/analytics %}
  </body>
</html>
